@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');


body {
  background-color: lightblue;
  font-family: 'Dosis', sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.highlight td{
  background-color: gold;
}
